
<body>
<form method="post">
    
   
        <div style="border:3px solid red">
            <div class="d-flex flex-row">
                vantage
            </div>
        </div>
        <div style="border:3px solid blue">
            <div style="display:flex;flex-direction: row;justify-content: space-around; width: 400px;">
                <div class="col-md-4">
                    change password
                </div>
                <div class="col-md-4">
                    Set as Home
                </div>
                <div class="col-md-4">
                    Notifications
                </div>
            </div>
        </div>
    
</form>
</body>

